<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <main>
        <section>
            <h2>Welcome back <%- locals.username %>, to ZenFinance Dashboard</h2>
            <p>Here you can manage your finances efficiently.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 ZenFinance. All rights reserved.</p>
    </footer>
</body>
</html>