<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/javascript/index.js" defer></script>
    <title>ZenFinance</title>
</head>
<body>
    <button onclick="changeUrl('sign')">Sign</button>
    Hello <%- locals.name %>, welcome to ZenFinance!
</body>
</html>