<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign.css">
    <script src="/javascript/index.js" defer></script>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <form action="/users/:id" method="GET" class="login-form">
            <img src="/images/logo.svg">
            <h2>Welcome Back</h2>
            <input type="email" name="email" class="email" value placeholder="Email" required>
            <input type="password" name="password" class="password" value placeholder="Password" required>
            <a href="/pwForgot" class="password-forgot">Forgot your password?</a>
            <button type="submit" class="submit">Login</button>
            <a href="/sign">Don't have an account?</a>
        </form>
    </div>
</body>
</html>