<!DOCTYPE html>
<html>

<head>
  <title>Sign In/Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/sign.css">
  <script src="/javascript/sign.js" defer></script>
</head>

<body>
  <div class="container">
    <div class="blueBg">
      <div class="box singIn">
        <h2>Already have an account?</h2>
        <button class="signInBtn" id="signInBtn">Sign In</button>
      </div>
      <div class="box singUp">
        <h2>Don't have an account?</h2>
        <button class="signUpBtn" id="signUpBtn">Sign Up</button>
      </div>
    </div>
    <div class="formBox" id="formBox">
      <div class="form signInForm">
        <form onsubmit="userLogin(event)" id="signInForm">
          <h3>Sign In</h3>
            <input type="email" name="logEmail" placeholder="Email">
            <div>
              <input type="password" id="logPassword" name="logPassword" placeholder="Password">
              <img src="/images/visibility.svg" width="32" height="40" id="logTogglePassword" class="toggle-password" onclick="logTogglePasswordVisibility()">
            </div>
          <input type="submit" value="Login">
          <div class="password-reset">
            <a href="#" class="forgot-password-link" onclick="openForgotPasswordForm()">Forgot password?</a>
            <div id="passwordResetForm" class="password-reset-form" style="display: none;">
              <input type="email" id="resetEmail" class="reset-email" placeholder="Email">
              <button class="reset-password-button" onclick="resetPassword()">Reset Password</button>
            </div>
          </div>
        </form>
      </div>

      <div class="form signUpForm">
        <form onsubmit="userRegister(event)" id="signUpForm">
          <h3>Sign Up</h3>
          <input type="text" name="registerUsername" placeholder="Username" required>
          <input type="email" name="registerEmail" placeholder="Email" required>
          <div>
            <input type="password" id="registerPassword" name="registerPassword" placeholder="Password" required>
            <input type="password" id="registerConfirmPassword" name="registerConfirmPassword" placeholder="Confirm password" required>
            <img src="/images/redVisibility.svg" width="32" height="40" id="registerTogglePassword" class="toggle-password" onclick="registerTogglePasswordVisibility()">
          </div>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
</body>

</html>