@import url('./variables.css');

body {
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: var(--font-family);
    font-weight: var(--font-text-weight);
}

h2 {
    font-weight: var(--font-title-weight);
}

.container {
    background-color: var(--gray);
    position: absolute;
    border-radius: 25px;

    height: 30vw;
    width: 27vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.password-forgot {
    align-self: flex-start;
    justify-self: end;
}

.email {
    padding: 5px;
    padding-left: 30px;
    width: 60%;

    background: url("../images/email.svg") no-repeat left;
    background-size: 20px;
    background-position: 5px;
}

.password {
    padding: 5px;
    padding-left: 30px;
    width: 60%;

    background: url("../images/password.svg") no-repeat left;
    background-size: 20px;
    background-position: 5px;
}

.email:focus,
.password:focus {
    outline: none;
    box-shadow: none;
}

.submit {
    width: 60%;
}

.submit:hover {
    cursor: pointer;
}

.container form a {
    color: wheat;
}